{% extends 'base.html.twig' %}

{% block body %}
    <section class="instructor">
        <div class="container">
            <div class="row">
                <div class="instructor__header">
                <h1 class="instructor__header--title">Instructeur Dashboard</h1>
                    <a href="{{ path('instructor_lesson_new') }}" class="instructor__header--btn btn">Nieuwe Les</a>
                </div>
                <div class="line"></div>
                <h5 class="instructor__subtitle">Mijn Lessen</h5>
                <ul class="instructor__list table__header">
                    <li class="instructor__list--item table__header--item">Trainingsvorm</li>
                    <li class="instructor__list--item table__header--item">Dag</li>
                    <li class="instructor__list--item table__header--item">Begin Tijd</li>
                    <li class="instructor__list--item table__header--item">Eind Tijd</li>
                    <li class="instructor__list--item table__header--item">Ingeschreven Leden</li>
                    <li class="instructor__list--item table__header--item">Bewerken</li>
                </ul>
                {% for lesson in lessons %}
                    <ul class="instructor__list">
                        <li class="instructor__list--item">{{ lesson.sport.name }}</li>
                        <li class="instructor__list--item">{{ lesson.date|date("jS F") }}</li>
                        <li class="instructor__list--item">{{ lesson.begintime|date("H:i") }}</li>
                        <li class="instructor__list--item">{{ lesson.endtime|date("H:i") }}</li>
                        <li class="instructor__list--item"><a href="{{ path('instructor_list', {id: lesson.id}) }}">{{ lesson.getLessonUsers().count }}</a></li>
                        <li class="instructor__list--item"><a href="{{ path('instructor_lesson_edit', {id: lesson.id}) }}"><i class="fas fa-pencil-alt icon"></i></a><a href="{{ path('instructor_lesson_delete', {id: lesson.id}) }}"><i class="fas fa-trash icon"></i></a></li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}