{% extends 'base.html.twig' %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    
    <div class="auth__form row">

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.firstname, {
            label: 'Voornaam'
        }) }}
        {{ form_row(registrationForm.lastname, {
            label: 'Achternaam'
        }) }}
        {{ form_row(registrationForm.gender, {
            label: 'Geslacht'
        }) }}
        {{ form_row(registrationForm.adress, {
            label: 'Adress'
        }) }}
        {{ form_row(registrationForm.postal, {
            label: 'Postcode'
        }) }}
        {{ form_row(registrationForm.city, {
            label: 'Stad'
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Wachtwoord'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
