{% extends 'base.html.twig' %}

{% block body %}

    <div class="example-wrapper">
        <table>
            <tr>
                <td>
                    <b>Email:</b>
                </td>
                <td>
                    {{ app.user.email }}
                </td>
            </tr>
        </table>
        <table>
            {% if lessons %}
                {% for lessonUser in lessonsUser %}
                    <tr>
                        <td>
                            {{ lessonUser.lesson.sport.name }}
                        </td>
                        <td>
                            {{ lessonUser.lesson.date | date("d/m/Y") }}
                        </td> <td>
                            <b>Start Time:</b>
                            {{ lessonUser.lesson.beginTime | date("H:i") }}
                        </td>
                        <td>
                            <button onclick="location.href='{{ path('app_signOut', {lessonUser: lessonUser.id}) }}'">
                                Uitschrijven
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
{% endblock %}
